<html>
<head>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDDW__-3OYqcUy9TH3YQGeA3d2rmFmmwk&sensor=true"></script>
<script src="/geocode.js"></script>
</head>
<body>
<h2>Test</h2>
<ul>
<li>Stop {{stops.code}}: {{stops.name}}</li>
</ul>
<form>
	
<input type="text" name="test1" id="test1" />
<button onclick="returnLatLong('25 Broadway, New York, New York')" type="submit" value="Submit">Click me</button>

</form>
</body>
</html>